* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

/* Start Header/Nav-Bar */
.header {
    background-color: #14b5e6;
    padding: 10px 25px;
}

.title.is-2 {
    color:  white; 
    padding-top: 10px 215px;
    font-size: 40px;
    font-weight: bolder;
}

.navbar {
    background-color:  #14b5e6;
}
/* End Header */

body {
    padding: 0px;
}

.ul-element {
    list-style: none;
}

.marine-stats-div, .contributors {
    margin-top: 23px;
}

button {
    margin-top: 10px;
}

.hero-description {
    margin-bottom: 10px;
}

#issMap {
    height: 560px;
}

.hero-body {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

